<header>
  <h1>参考書管理アプリ</h1>
</header>

<h2>一覧画面</h2>

<%= link_to '新規作成', new_book_log_path %>

<%= flash[:notice] %>

<table>
  <thead>
    <tr>
      <th>書籍名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @book_logs.each do |book_log| %>
      <tr>
        <td><%= book_log.title %></td>
        <td><%= link_to '詳細へ', book_log %></td>
        <td><%= link_to '削除', book_log_path(book_log.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

