<p class="notice"><%= notice %></p>

<h2 class="h3 mb-4">詳細画面</h2>

<div class="card mb-4">
  <div class="card-header">参考書データ</div>
  <div class="card-body">
    <p>書籍名:<%= @book_log.title %></p>
    <p>著者名:<%= @book_log.author %></p>
    <p>読書状況:<%= @book_log.status %></p>
    <p>評価:<%= @book_log.score %></p>
    <p>感想:<%= @book_log.summary %></p>
    <p>作成日時:<%= @book_log.created_at %></p>
    <p>更新日時:<%= @book_log.updated_at %></p>
  </div>
</div>

<%= link_to '戻る', book_logs_path, class: 'btn btn-secondary' %>
<%= link_to '更新', edit_book_log_path, class: 'btn btn-primary' %>

